p {
color: gray;
}
div {border-width: 10px;
	width: 33%;
	padding: 5px;
box-sizing: border-box;
float: left;
}
@media (min-width: 992px) {
...	
}
@media (min-width: 768px) AND (max-width: 991px){
...
}
@media (max-width: 767px) {
...	
}